#clockcontainer{
    position: relative;
    margin:auto;
    height: 40vw;
    width: 40vw;
    background: url('clock.png') no-repeat;
    background-size: 100% ;
} 
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    height: 18%;
    width: 2%;
    top: 32%;
    left: 48.9%;
    opacity: 90%;
    }
#minute{
    height: 27%;
    width: 2%;
    top: 23%;
    left: 48.9%;
    opacity: 60%;     
    }
#second{
    height: 35%;
    width: 0.5%;
    top: 15%;
    left: 49.5%;
    opacity: 50%;  
    }